<!DOCTYPE html>
<html>
<head>
    <title>MenuMastery - Meseros</title>
    <!-- Incluye tus estilos CSS -->
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MenuMastery - Meseros</a>
            <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <!-- Incluye tus scripts JS -->
</body>
</html>